/* Add CSS Styling */


.dark-background, .bright-background {
font-size: 28px;
font-family: Helvetica, 'Times New Roman', sans-serif;
}


.dark-background {
background-color: black;
color: hsl(0, 0%, 100%);
}


.bright-background {
background-color: #ffff00;
}