body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 15px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  /*margin-bottom: 30px;*/
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px auto
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  padding: 10px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
  background: white;
  border: 1px solid #eee;
}